<!doctype html>
<html lang="ko">
<head>
@@include('views/@include/head.html')
</head>
<body>
    <style>
       #wrap {overflow: hidden; position: relative; width: 100%; min-height: 100vh;}

       #container {height: 20000px;}
       #container .test {position: fixed; top: 20px; left: 20px; width: 300px; height: 300px; background: green;}
       #container .scroll {position: fixed; top: 20px; right: 20px;}
       p {font-size: 30px; line-height: 100px;}
    </style>
    <div id="wrap">
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
            <p>ssssssssssssssssssssss</p>
        <script>
            beta();
        </script>
    </div>
</body>
</html>