<!doctype html>
<html lang="ko">
<head>
@@include('../@include/head.html')
</head>
<body>
    <div id="wrap">
@@include('../@include/header.html')

        <article id="container">
            <label class="_checkbox">
                <input type="checkbox">
                <div class="_txt">checkbox style 01</div>
            </label>
            <label class="_radio">
                <input type="radio">
                <div class="_txt">radio style 01</div>
            </label>
            <label class="_radio">
                <input type="radio">
                <div class="_txt">radio style 02<br>radio style 02</div>
            </label>
            <input type="text">
            <button class="_btn h40 c1">button 01</button>
            <button class="_btn h40 c2">button 02</button>
        </article>

@@include('../@include/footer.html')
    </div>
</body>
</html>