<!doctype html>
<html lang="ko">
<head>
@@include('views/@include/head.html')
</head>
<body>
    <div id="wrap">
        <article id="container">
            <button class="_btn h40 c1" onclick="window.popup1 = sunrise('../@popup/popup-01.html', {
                background: true,
                centerMode: false,
                positionTop: 100,
                positionLeft: 100
            })">layerpopup call</button>
            <div class="ex"></div>
            <button onclick="window.popup1.popupClose()">popupclose</button>
        </article>
    </div>
</body>
</html>