<!doctype html>
<html lang="ko">
<head>
@@include('views/@include/head.html')
</head>
<body>
    <script>
        var test = function (target, options) {
            return new function () {
                var _ = this, assets, object;

                _.init = function () {
                    assets = _.assets = $.extend(true, {
                        currentIndex: 0
                    }, options);

                    object = _.object = {
                        tab: $(target).find('.tab button'),
                        con: $(target).find('.con div')
                    }

                    _.action(assets.currentIndex);
                }

                _.events = function () {
                    object.tab.on('click', function () {
                        _.action($(this).index());
                    });
                }

                _.action = function (i) {
                    object.con.eq(i).addClass('on').siblings().removeClass('on');
                    assets.currentIndex = i;
                }

                return (function () {
                    _.init();
                    _.events();

                    return _;
                })();
            }
        };

        $(function () {
            var a = test('#tab1');
            var b = test('#tab2', {
                currentIndex: 1
            });

            $('#number').on('keyup', function (e) {
                if (e.which === 13) {
                    a.action($('#number').val());
                    b.action($('#number').val());
                }
            });

            $('#console').on('click', function () {
                console.log(a.assets.currentIndex, b.assets.currentIndex);
            });
        });
    </script>
    <div id="wrap">
        <style>
            .con > div {display: none;}
            .con > div.on {display: block;}
        </style>
        <div id="tab1">
            <div class="tab">
                <button>tab 1</button>
                <button>tab 2</button>
                <button>tab 3</button>
            </div>
            <div class="con">
                <div class="on">con 1</div>
                <div>con 2</div>
                <div>con 3</div>
            </div>
        </div>

        <div id="tab2">
            <div class="tab">
                <button>tab 1</button>
                <button>tab 2</button>
                <button>tab 3</button>
            </div>
            <div class="con">
                <div class="on">con 1</div>
                <div>con 2</div>
                <div>con 3</div>
            </div>
        </div>
        <input type="number" id="number" style="width: 200px;"><br>
        <button id="console">console</button>
    </div>
</body>
</html>