    <!-- meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1000, user-scalable=no">

    <!-- information, opengraph -->
    <meta name="description" content="사이트설명">
    <meta name="keywords" content="사이트검색키워드">
    <meta name="author" content="ShinyJ">
    <meta property="og:title" content="공유제목">
    <meta property="og:description" content="공유설명">
    <meta property="og:image" content="공유이미지 800x400">

    <!-- theme, favicon -->
    <link rel="manifest" href="/assets/images/favicon/manifest.json">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#000000">

    <!-- title -->
    <title>SIMPLIZM</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- Javascript -->
    <script src="/assets/js/library/jquery-3.2.1.min.js"></script>

    <script src="/assets/js/simplizm/core.js"></script>
    <script src="/assets/js/simplizm/init.js"></script>
    <script src="/assets/js/simplizm/sunrise.js"></script>