<!doctype html>
<html lang="ko">
<head>
@@include('../@include/head.html')
</head>
<body>
    <div id="wrap">
@@include('../@include/header.html')

        <style>
            #eclipse div div {height: 300px; font-size: 50px; line-height: 300px; text-align: center; color: #ffffff;}
            #eclipse .eclipse-wrap {width: 200px; margin: 0 auto;}
            #eclipse .eclipse-active {z-index: 10;}
        </style>
        <div id="eclipse">
            <div class="eclipse-wrap">
                <div style="background: #000;">01</div>
                <div style="background: #333;">02</div>
                <div style="background: #666;">03</div>
                <div style="background: #999;">04</div>
            </div>
        </div>
        <script>
            $(window).on('load', function () {
                $('#eclipse').eclipse();
            });
        </script>

@@include('../@include/footer.html')
    </div>
</body>
</html>