<!doctype html>
<html lang="ko">
<head>
@@include('../@include/head.html')
</head>
<body>
    <div id="wrap">
@@include('../@include/header.html')

        <article id="container">
            <div class="_hello _left" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _right" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _left" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _right" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _left" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _right" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _left" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _right" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _left" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _right" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _left" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _right" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _left" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _right" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _left" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _right" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _left" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _right" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _left" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _right" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _left" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _right" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _left" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _right" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _left" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _right" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _left" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _right" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _left" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _right" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _left" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _right" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _left" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
            <div class="_hello _right" style="width: 200px; height: 200px; margin: 0 0 100px; background: red;"></div>
        </article>

@@include('../@include/footer.html')
    </div>
</body>
</html>