<!doctype html>
<html lang="ko">
<head>
@@include('../@include/head.html')
</head>
<body>
    <div id="wrap">
@@include('../@include/header.html')

        <div id="test">
            <style>
                #div {width: 500px; height: 500px; background: gray;}
            </style>
            <div id="div">btn</div>
            <script>

                $('#div').on('clickstart', function (e) {
                    console.log('clickstart', e.posX);
                });

                $('#div').on('clickmove', function (e) {
                    console.log('clickmove', e.posX)
                })

                $('#div').on('clickend', function (e) {
                    console.log('clickend', e);
                });
            </script>
        </div>

@@include('../@include/footer.html')
    </div>
</body>
</html>