
<div class="_layer-popup" style="width: 500px;">
    <div class="_layer-header">
        <h1 class="_layer-title">길이가 긴 Ajax 레이어 팝업</h1>
        <button class="_layer-close" sunrise="close">닫기</button>
    </div>
    <div class="_layer-contents">
        <img src="http://news.kbs.co.kr/data/news/2016/11/15/3377687_hgv.png" alt="">
        <img src="http://news.kbs.co.kr/data/news/2016/11/15/3377687_hgv.png" alt="">
        <img src="http://news.kbs.co.kr/data/news/2016/11/15/3377687_hgv.png" alt="">
        <img src="http://news.kbs.co.kr/data/news/2016/11/15/3377687_hgv.png" alt="">
        <img src="http://news.kbs.co.kr/data/news/2016/11/15/3377687_hgv.png" alt="">
        <img src="http://news.kbs.co.kr/data/news/2016/11/15/3377687_hgv.png" alt="">
        <img src="http://news.kbs.co.kr/data/news/2016/11/15/3377687_hgv.png" alt="">
        <img src="http://news.kbs.co.kr/data/news/2016/11/15/3377687_hgv.png" alt="">
        <img src="http://news.kbs.co.kr/data/news/2016/11/15/3377687_hgv.png" alt="">
        <img src="http://news.kbs.co.kr/data/news/2016/11/15/3377687_hgv.png" alt="">
    </div>
</div>