<!doctype html>
<html lang="ko">
<head>
@@include('../@include/head.html')
</head>
<body>
    <div id="wrap">
@@include('../@include/header.html')

        <article id="container">
            <div class="_txt">11텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트텍스트 테스트</div>
            <img src="../../assets/images/sample/4.gif" alt=""><br>
            텍스트텍스트<br>
            <strong>asdfasdf</strong>
        </article>

@@include('../@include/footer.html')
    </div>
</body>
</html>